{% extends 'layouts.html' %}

{% block content %}

<div class="jumbotron text-center">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis magni voluptas, obcaecati repudiandae suscipit ex dolore soluta incidunt velit ab reiciendis possimus! Sint consequatur magni, voluptatem illum tenetur sit quasi ipsa vel consequuntur animi eos perferendis mollitia libero nam repellat repudiandae ducimus, sapiente quam totam, soluta in dolores quibusdam quae similique. Beatae qui cupiditate numquam, ullam sequi accusamus iste possimus laboriosam modi quidem, dolor, aperiam maiores. Nulla consequatur rem obcaecati vel perspiciatis, dolorum illum error earum neque sunt consectetur quibusdam ex provident ratione mollitia. Deleniti a dolor adipisci ipsa magnam dolore vel commodi, dolorem voluptas! Ipsum officia minus sed quod!</p>
</div>

{% endblock %}